<div class="container">
    <h2>List of Items</h2>
    <div class="form-group m-3">
        <input type="text" [(ngModel)]="searchTerm" (input)="filterItems()" placeholder="Search by Item Name" class="form-control">
    
    <table class="table table-striped">
        <thead class="table-dark text-white">

          <tr>
                <th>ItemId</th>
                <th>ItemName</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Condition</th>
                <th>Images</th>
                <th>Location</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ite of item ">
                <td>{{ite.itemId}}</td>
                <td>{{ite.itemName | uppercase}}</td>
                <td>{{ite.description}}</td>
                <td>{{ite.price}}</td>
                <td>{{ite.category}}</td>
                <td>{{ite.condition}}</td>
                <td>
                    <img [src]="ite.images" alt="Item Image" style="width: 50px; height: 50px;">
                </td>
                <td>{{ite.location}}</td>
                <td>
                    <button type="button" (click)="addToCart(ite.itemId)">Add To Cart</button>
                </td>
                
               
            </tr>
        </tbody>
    </table>
</div>
</div>

    <button routerLink="/user-profile/:id">User Profile</button> 
