<!-- <div class="container">
    <h1>Quick Trade</h1>
    <h4>Lets start your journey as Quick Trade  </h4>
    <div class="button-container">
      <button routerLink="/signup" class="login-button">Sign Up</button>
      <button routerLink="/user-login" class="login-button">Login</button>
    </div>
  </div> -->
  <div class="one">
  <div class="container">
    <h1>Quick Trade</h1>
    <h4>Lets start your journey as Quick Trade</h4>
    <div class="button-container">
        <button routerLink="/signup" class="login-button">Sign Up</button>
        <button routerLink="/user-login" class="login-button">Login</button>
    </div>
</div>
</div>