<!-- <div class="container">
    <h1>Ouick Trade</h1>
    <h4>Start your journey in Quick Trade and become a member in our community</h4>
    <div class="button-container">
      <button routerLink="/buyer" class="login-button">Buyer</button>
      <button routerLink="/seller" class="login-button">Seller</button>
      <button routerLink="/admin-login" class="login-button">Admin</button>
    </div>
  </div> -->
  <div class="one">
  <div class="container">
    <div class="header">
      <h1>Quick Trade</h1>
      <p>Start your journey in Quick Trade and become a member of our community</p>
    </div>
    <div class="button-container">
      <button routerLink="/buyer" class="login-button buyer">Buyer</button>
      <button routerLink="/seller" class="login-button seller">Seller</button>
      <button routerLink="/admin-login" class="login-button admin">Admin</button>
    </div>
  </div>
</div>