<nav class="navbar">
    <a routerLink="/signup" class="nav-link">User Signup</a>
    <a routerLink="/signupseller" class="nav-link">Seller Signup</a>
    <a routerLink="/user-login" class="nav-link">User Login</a>
    <a routerLink="/seller-login" class="nav-link">Seller Login</a>
  </nav> 
<div class="wrapper">
    <div class="login_form">
      <div class="title">
        User Login
      </div>
      <form (ngSubmit)="submitLoginForm()">
        <div class="form_wrap">
          <div class="input_wrap">
            <label for="email">Email Address</label>
            <input type="email" [(ngModel)]="loginData.Email" name="Email" required>
          </div>
          <div class="input_wrap">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="loginData.Password" name="Password" required>
          </div>
          <div class="input_wrap">
            <button type="submit" class="submit_btn">log in as User</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
