<div class="one">
<nav class="navbar">
    <a routerLink="/frontpage" class="nav-link">Home</a>
    <a routerLink="/signupseller" class="nav-link">Seller Signup</a>
    
    
  </nav> 
<div class="wrapper">
    <div class="login_form">
      <div class="title">
        <b>Seller Login</b>
      </div>
      <form (ngSubmit)="submitLoginForm()">
        <div class="form_wrap">
          <div class="input_wrap">
            <label for="sellerEmail">Email Address</label>
            <input type="email" [(ngModel)]="loginData.SellerEmail" name="SellerEmail" required>
          </div>
          <div class="input_wrap">
            <label for="sellerPwd">Password</label>
            <input type="password" [(ngModel)]="loginData.SellerPwd" name="SellerPwd" required>
          </div>
          <div class="input_wrap">
            <button type="submit" class="submit_btn">Login as Seller</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
  